@font-face {
  font-family: Comforta;
  src: url(../fonts/Comfortaa-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  }

$font-titles: 'Comforta', sans-serif;
$font-body: 'Roboto', sans-serif;

h1{
    font-size:4em;
    font-family:$font-titles;
    color:$second-color;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h2{
  font-size:3em;
  font-family:$font-titles;
  color:$second-color;
}

h3{
  font-size:2em;
  font-family:$font-titles;
  color:$second-color;
}

p{
    font-size:1.5em;
    font-family:$font-body;
    color:$second-color;
}

.center-text {
    text-align:center;
}

.skillset-title {
  font-size:1.5em;
  margin:0;
  font-family:$font-body;
}

::placeholder {
  color:$main-color;
}

footer p {
  font-size:16px;
}

@media screen and (max-width:620px){
h1 {
  font-size:45px;
}
} 

@media screen and (max-width:360px){
  h1 {
    font-size:35px;
  }
    h2 {
      font-size:25px;
    }
  h3 {
    font-size:20px;
  }  
  p {
    font-size :1.2em;
  }
  } 